/* font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

/*===== VARIABLES*/
:root {
    --gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    --gradient1: linear-gradient(135deg, #667eea86 0%, #764ba28e 100%);
    --url-img: url(img/bgimg.jpg);
    --box-shadow: 6px 6px 10px rgba(0, 0, 0, .6);
    --width: 100%;
    --radius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: var(--gradient1), var(--url-img);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.form {
    width: 400px;
    background: #fafafa;
    margin: 20px auto;
    padding: 30px 20px 40px;
    text-align: center;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
}

.input {
    width: var(--width);
    padding: 20px 5px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #b39b9b;

}

/*para que los inputs hereden el font-famili*/
.input, .form__submit {
    font-family: inherit;
}

.form__title {
    margin-bottom: 30px;
    font-size: 2rem;

}

/*damos ancho y alto maximo y minimo para que no modifiquen el textarea*/
.form__message {
    max-width: var(--width);
    min-width: var(--width);
    max-height: 150px;
    min-height: 150px;
}

.form__submit {
    display: block;
    width: var(--width);
    font-size: 28px;
    background-image: var(--gradient1);
    padding: 15px 20px;
    border: none;
    color: #fafafa;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}

.form__submit:hover {
    background-image: var(--gradient);
    transition: background-image .3s;
}

/* ============ RESPONSIVE DESIGN =============*/

/* Laptop and more */
@media screen and (max-width: 1024px) {
    body {
        background-repeat: no-repeat;
        padding: 50px 0;
    }

}

/*Tablet size*/
@media screen and (max-width: 768px) {
    body {
        padding: 20px 0;
        background-repeat: no-repeat;
    }

    .form {
        margin: 0 auto;
    }
}

/* cellphone size*/
@media screen and (max-width: 426px) {
    .form {
        width: 90%;
        padding: 15px 20px;
    }

    .form__title {
        margin-bottom: 1.2rem;
    }

    .form__submit {
        font-size: 1.5rem;
        padding: 10px 15px;
    }

}